body {
	margin: 50px 40px;
	font-size: 30px;
	font-family: "Lora", Georgia, 'Times New Roman', Times, serif;
	background-color: #155942;
	color: #DACAEE;
	text-transform: lowercase;
}

p, li {
	line-height: 1.4;
}

p {
	padding-bottom: 20px;
}

p, a, h2, h3 {
	width: 60%;
}

h2 {
	font-weight: 500;
	margin-bottom: 20px;
}

a {
	text-decoration: none;
	color: #fff;
}

h1.pagetitle {
	position: fixed;
	right: 40px;
	bottom: -10px;
	font-size: 40px;
	font-weight: 500;
	color: #F4F4F4;
	opacity: 0.5;
	margin: 0;
	padding: 0;
}

header nav ul {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

header nav ul li a {
	color: #DACAEE;
	text-decoration: none;
}

header nav ul li a.selected {
	border-bottom: 2px solid #DACAEE;
}

header {
	margin-bottom: 5rem;
}

img {
	max-width: 100%;
}

main img {
	display: block;
	margin: 0 auto 3rem auto;
}

main h3 {
	font-size: 2.25rem;
	font-weight: 600;
	margin-bottom: 3rem;
}

main ul.blog li a {
	color: #DACAEE;
}

main ul.blog li {
	margin-bottom: 2rem;
}

main {
	margin-bottom: 5rem;
}

article {
	display: flex;
	align-items: center;
	width: 100%;
	margin-bottom: 100px;
}

article .text h2, article .text p {
	width: 100%;
}

article .img {
	width: 100%;
	height: auto;
}

.socials a {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	background-size: contain;
}
.socials #facebook {
	background-image: url("/img/fb.svg");
}
.socials #instagram {
	background-image: url("/img/ig.svg");
}

@media (min-width: 800px) {
	p, a {
		font-size: 30px;
	}

	header nav {
		display: flex;
		justify-content: flex-end;
	}

	header nav ul {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 55rem;
	}

	h1.pagetitle {
		right: 5rem;
		bottom: -20px;
		font-size: 80px;
	}

	main {
		width: 600px;
	}
}
